body{
	background-image: #FFD700;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, sans-serif;
	width: 80%;
	margin: auto;
}

section {
 	background-color: #4169E1;
	padding: 2%;
}

nav {
	text-align: center;
	background-color: #002266;
	border-radius: 5px;
	margin-bottom: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 1%;
	overflow: hidden;
}

img.displayed{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

img.autor{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7%;
}

#section_corpo{
	border-radius: 5px;
}

footer {
	font-family:  "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	color: #00001a ;
	padding: 1%;
	border-top: 1px solid #000000;
}

li {
	display: inline-block;
	font-size: 20px;
	border: 
}

a:link, a:visited {
    width: 120px;
    display: inline-block;
    font-weight: bold;
    color: #FFD700;
    text-align: center;
    padding: 5%;
    text-decoration: none;
    text-transform: uppercase;
}

.barra{
	text-align:  center;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size: 100%;
	color: #ffcc00;
	text-decoration: none;
}

.barra:hover{
	background:#ffcc00;
	color:#002266;
	box-shadow:0 30px 10px 0 #ffcc00;
	text-shadow:0px 0px 5px #002266;
}

#section_foto{
	background-size: 80px;
	padding-top: 2%;
}

#nome{
	text-align: center;
	color: black;
	font-size: 200%;
	font-family: "Comic Sans MS", Helvetica, sans-serif;
}

h2{
	color: #ffcc00;
}

label {
	color: #C82826;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 18px;
}

article{
	font-size: 80%;
}

.forma{
	display: inline-block, 40px;
	background-color: #F5FFFA;
	color: #000000;
	border-radius: 10px;
	text-indent: 10px;
	font-family: "Comic Sans MS", Helvetica, sans-serif;
}

.titulo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table {
    border: 1px solid yellow;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;

}

.link{
	display: inline-block;
	float: center;
	padding-left: 315px;		

}